! =============================================================================
! Basic SNMP Configuration
! Generated for : {{ hostname }} ({{ ip_address }})
! =============================================================================

! Enable SNMP with public community
snmp-server community public RO
